*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color: white;
}
.logo-img{
    background-color: white;
    width: 80px;
    mix-blend-mode: multiply;
}
.header-container{
   display: flex; 
   flex-direction: row;
   gap: 10px;
   justify-content: space-between;
   padding: 2em;
   padding-top: 10px;
}
.header-container nav{
   padding-top: 20px;
   padding-right: 60px;
}
.header-container ul{
    display: inline;
    padding-right: 30px;
    font-weight: bold;
}
.header-container li{
    display: inline;
}
.header-container nav a{
    text-decoration: none;
    color: black;
}
.header-container nav ul li {
    padding-left: 10px;
}
.header-container button{
    border-radius: 30px;
    background-color: white;
    border: 3px solid lightgray;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
}


.container1{
    display: flex;
    justify-content: center ;
    /* min-width: 700px;  */
    height: 400px ;
    min-width: 600px;
    margin-left: 50px;
    margin-right: 50px;
    /* border: 3px solid black; */
    justify-content: space-around;

}
.container1-items{
    /* border: 3px solid red; */
    /* margin-left: 240px; */
    margin-top: 20px;
    min-width: 300px;
    width: 400px;
    height: 300px;
    
}
.container1-item-1{
    padding-left: 10px;
}
.container1 button{
    background: linear-gradient(to right, orange, red) ;
    background-color: orange;
    border-radius: 20px;
    border: 3px solid orange;
    color: white;
    padding: 10px 15px 10px 15px ;
}
.container1 .gray-text{
    color: gray;
    padding-bottom: 15px;
}
.img1{
    width: 280px;
    height: 220px;
    position: relative;
    bottom: 270px;
}
.img2{
    width: 240px;
    position: relative;
     bottom: 320px;
     left: 80px;
    }
.bluegradient{
    background: linear-gradient(to bottom right, rgb(249,244,240), rgb(213,238,244));
    width: 180px;
    height: 280px;
    position: relative;
    left: 220px;
    bottom: 20px;
}
.img3{
    width: 150px;
}
.img4{
    width: 120px;
}
.img5{
    width: 100px;
}
.img6{
    width: 150px;
}
.img7{
    width: 120px;
}
.container-2{
    display: flex;
}

/* .container2-items{
} */
.container2-item-1{
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    height: 200px;
    min-width: 700px; 
    background: linear-gradient(to bottom, rgb(249,244,240),rgb(218,238,244)  ) 
}
.container2 h2{
    text-align: center;
    font-size: 1.6em;
    padding-top: 40px;
    padding-bottom: 10px;
}
.container2 img{
    padding-top: 30px;
    padding-right: 25px;
}
.container3{
    display: flex;
    min-width: 600px; 
    height: 500px ;
    margin-left: 50px;
    margin-right: 50px;
    /* border: 3px solid black; */
    justify-content: space-around;
    margin-bottom: 20px;

}
.container3-items{
    /* border: 3px solid red; */
    min-width: 300px;
    width: 300px;
}

.container3-1 {
    display: flex;
   
}

.container3-1-items{
    /* border: 1.5px solid green; */
    width: 600px;
    height: 220px;

}
.container3-1-item-3 {
    min-height: 150px;
    min-width: 150px;
}
.container3-1-item-4 {
    min-height: 150px;
    min-width: 150px;
}
.container3-1-item-5 {
    min-height: 150px;
    min-width: 150px;
}
.container3-1-item-6{
    min-height: 150px;
    min-width: 150px;
}
.img8{
    width: 280px;
    height: 350px;
}

.container3 h2{
    padding-top: 10px;
}
.container3 p {
    color: gray;
    padding-top: 10px;
}
.fa-solid {
    color: red;
}
.fa-regular{
    color: red;
}
.learn-more{
    background: linear-gradient(to right, orange, red) ;
    background-color: orange;
    border-radius: 20px ;
    border: 3px solid orange;
    color: white;
    padding: 10px 9px 10px 9px ;
    margin-top: 7px;
    margin-left: -37px;
}
.container4{
    background: linear-gradient(to bottom, rgb(249,244,240),rgb(218,238,244)  );
    display: flex;
    flex-direction: column;
    /* justify-content: center ; */
    /* min-width: 700px;  */
    height: 450px ;
    min-width: 600px;
    margin-left: 50px;
    margin-right: 50px;
    /* border: 3px solid magenta; */
    /* justify-content: space-between; */
}
.container4-items{
    /* border: 3px solid red; */
    /* height: 100px; */
    /* width: 800px; */
}
.container4 h1{
    text-align: center;
}
.container4-item-1{
    min-width: 100px;
    min-height: 100px;

}
.container4-item-2{
    min-width: 100px;
    min-height: 100px;
    text-align: center;
}
.container4-1{
    display: flex;
    flex-direction: row;
    /* border: 3px solid yellow; */
    justify-content: space-around;
}
.container4-1-items {
    border-radius: 10px;
    min-width: 130px;
    min-height: 250px;
    max-width: 200px;
    /* border: 3px solid blue; */
    
 
}
.img9{  
    width: 190px;
    max-height: 120px;
    min-width: 130px;
}
.readall{
    margin-top: 10px;
    border-radius: 30px;
    border-radius: 30px;
    background-color: white;
    border: 3px solid lightgray;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
    border: 3px solid lightgray;
    padding: 10px 20px 10px 20px;
    font-weight: bold;
}
.container5{
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    min-width: 600px; 
    min-height: 600px;
    height: 400px;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 20px; */
    /* margin-left: 50px; */
    margin-right: 50px;
    /* border: 3px solid black; */
    justify-content: space-around;
    /* margin-bottom: 0px; */
    /* background: linear-gradient(to right  bottom, rgb(43, 138, 136),rgb(218,238,244)  ); */
    background-image: url(/test/images/background-fabric-beige.jpg);
}
.container5-items{
    /* border: 3px solid red; */
    /* min-width: 100px; */
    text-align: center;
    padding-left: 300px;
    padding-right: 300px;
    min-height: 600px;
    min-width: 600px;

  
}
.container5-item-1{
   min-height: 150px;
   min-width: 100px;
   color: white;
   text-shadow: 3px;
   /* min-width: 100px; */
 }
.container5-item-2{
    /* min-width: 200px; */
    min-height: 200px;
}
.container5-item-3{
    min-width: 250px;
    min-height: 100px;
}
.getmemb{
    min-width: 100px;
    background: linear-gradient(to right, orange, red) ;
    /* background-color: orange; */
    border-radius: 20px;
    /* border: 3px solid rgb(53, 45, 30); */
    /* color: orange; */
  
    margin-top: 7px;
    width: 250px;
    height: 35px;
}
.container6{
    display: flex;
    justify-content: center ;
    height: 200px ;
    min-width: 800px;
    width: 800px;
    margin-left: 50px;
    margin-right: 50px;
    /* border: 3px solid black; */
    justify-content: space-around;
}
.container6-items{
    /* border: 3px solid red; */
    margin-left: 4px;
    margin-top: 10px;
    min-width: 90px;
    height: 300px;
    
}
.bolder{
    font-weight: bold;
    font-size: 1.2em;
}
footer p{
   padding-right: 600px;
}
.footer-container{
    display: flex; 
    flex-direction: row;
    /* border: 2px solid black; */
    padding: 2em;
    padding-top: 10px;
    justify-content: space-between;
}
footer ul li {
    display: inline;
    padding-left: 6px;
}










